{{ define "main" }}

  {{ $currentPage := . }}
  {{ range $.Site.Sections }}
    {{ if eq $currentPage.Section .Section }}
      {{ if .Pages }}
        <div class="subnav">
          {{ range .Pages }}
            {{ if eq . $currentPage }}
              <span class="exposed">
                {{ .Title | markdownify }}
              </span>
            {{ else }}
              <a href="{{ .Permalink }}">
                {{ .Title | markdownify }}
              </a>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}

  <main>

    {{ with .Params.summary }}
      <div class="intro">
        {{ . }}
      </div>
    {{ end }}

    {{ if .Content }}
      <section>
        {{ .TableOfContents }}
        <div class="content">
          {{ .Content }}
        </div>
      </section>
    {{ end }}

  </main>
{{ end }}
