@font-face {
    font-family: "Coelacanth";
    src: url("fonts/CoelacanthRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Artemisia";
    src: url("fonts/Artemisia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
