* {
    box-sizing: border-box;
}
html {
    font-family: "Coelacanth", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: x-large;
}
body {
    background-color: white;
}

a {
    text-decoration-style: dotted;
    color: rgb(132, 82, 77); /* brown */
}
a:visited {
    color: rgb(189, 126, 112); /* light brown */
}
header {
    margin-bottom: -4em;
    padding-bottom: 4em;
    background-color: #9f5470;
    background-color: pink;
    background: linear-gradient(to top right, rgba(218, 67, 49, 1), rgba(233, 134, 157, 1)); /* orange to light pink */
    color: white;
    div.title-bar {
      display: flex;
      align-items: end;
      padding: 2em 1em;
      div.title {
        display: flex;
        align-items: end;
        flex-wrap: wrap;
        max-width: 1200px;
        @media (min-width: 1200px) {
          margin: auto;
        }
        img.title {
          height: calc(1em + 2vw);
          padding-right: 1vw;
        }
      }
      .description {
        font-style: italic;
        font-size: smaller;
      }
    }
    nav {
        position: relative;
        max-width: 1200px;
        line-height: 2em;
        display: flex;
        padding-bottom: 1em;
        align-items: baseline;
        justify-content: space-around;
        a {
            color: white;
        }
        a:visited {
            color: white;
        }
        .exposed {
            font-weight: bold;
            font-size: 1.3em;
        }
        @keyframes exposed {
            from { position: relative; top: 0; }
            to { position: absolute; top: 5rem; }
        }
        @media (min-width: 730px) {
            margin: auto;
        }
        @media (max-width: 730px) {
          display: none;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          a {
            height: 2em;
          }
        }
    }
}

#menuOpener {
  //all: revert;
  height: 1.65em;
  margin-left: auto;
  border: 0;
  padding: 0;
  padding-left: 0.3em;
  font-size: 100%;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  @media (min-width: 730px) {
    display: none;
  }   
}   

.subnav {
    margin-top: -3em;
    padding-top: 4em;
    padding-bottom: 1em;
    display: flex;
    line-height: 2em;
    align-items: baseline;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    justify-content: space-around;
    background-color: rgb(117, 191, 207); /* light blue */
    a {
      color: white;
    }
    .exposed {
      font-size: 1.3em;
      color: white;
    }
    a:visited {
      color: white;
    }
    @media (max-width: 730px) {
      flex-direction: column;
      justify-content: space-around;
      align-items: left;
      padding-left: 1em;
      line-height: 2em;
    }
}

.path {
    display: inline;
}
.hero {
    position: relative;
    z-index: 1;
    width: 80vw;
    max-width: 1200px;
    margin: -2em auto;
    text-align: center;
    padding: 2em 1em;
    border-radius: 1em;
    background-color: white;
    .title {
        font-weight: bold;
        font-size: calc(1em + 2vw);
    }
}

main {
    width: 80vw;
    max-width: 1200px;
    padding-top: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    blockquote:nth-child(1) {
        padding: 1em;
        text-align: center;
        font-style: italic;
    }
    .content {
      img {
        max-width: 100%;
        margin: auto;
        display: block;
      }
    }
}
