<head>
  <meta charset="UTF-8" />
  {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{ with .Site.Params.Description }}
      <meta name="description" content="{{ . }}" />
    {{ end }}
  {{ else }}
    <title>{{ .Title }}</title>
    {{ with .Description }}
      <meta name="description" content="{{ . }}" />
    {{ end }}
  {{ end }}
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  {{ with resources.Get "css/style.scss" }}
    {{ with . | toCSS }}
      <link rel="stylesheet" type="text/css" href="{{ .Permalink }}" />
    {{ end }}
  {{ end }}
  {{ $fontstyle := resources.Get "css/fonts.css" }}
  <link rel="stylesheet" type="text/css" href="{{ $fontstyle.Permalink }}" />
  <script>

    function toggleMenu() {
      var menuElement = document.getElementById('menuElement');
      if(menuElement.style.display == "flex") {
        menuElement.style.display = "none";
      } else {
        menuElement.style.display = "flex";
      }
    }

  </script>
</head>
