<header>
  <div class="title-bar">
    <div class="title">
      {{ range resources.Match "img/titre-*.png" }}
        <a href="{{ $.Site.BaseURL | relURL }}">
          <img class="title" src="{{ .RelPermalink }}" />
        </a>
      {{ else }}
        <h2>
          <a class="title" href="{{ $.Site.BaseURL | relURL }}">
            {{ .Site.Title }}
          </a>
        </h2>
      {{ end }}
    </div>
    <button id="menuOpener" onclick="toggleMenu()">
      <svg width="2em" height="2em" viewbox="0 6 24 18"
           fill="none" stroke="white" stroke-width="2.4"
           stroke-linecap="round" stroke-linejoin="round">
        <line x1="2" y1="12" x2="22" y2="12"></line>
        <line x1="2" y1="6" x2="22" y2="6"></line>
        <line x1="2" y1="18" x2="22" y2="18"></line>
      </svg>
    </button>
    <div class="description">
      {{ with $.Site.Params.Description }}
        {{ . }}
      {{ end }}
    </div>
  </div>
  <nav id="menuElement">
    {{ $currentPage := . }}
    {{ range $.Site.Sections }}
      {{ if eq $currentPage . }}
        <span class="exposed">
          {{ .Title | markdownify }}
        </span>
      {{ else }}
        {{ if eq $currentPage.Section .Section }}
          <a href="{{ .Permalink }}" class="exposed">
            {{ .Title | markdownify }}
          </a>
        {{ else }}
          <a href="{{ .Permalink }}">
            {{ .Title | markdownify }}
          </a>
        {{ end }}
      {{ end }}
    {{ end }}
  </nav>
</header>

{{ with .Title }}
  <div class="hero">
    <span class="title">
      {{ . }}
    </span>
  </div>
{{ end }}
