{{- template "scoper" .Parent -}}<span class="title">{{ .Title }}</span>

{{- define "scoper" -}}
  {{- if not .IsHome -}}
    {{- template "scoper" .Parent }}<a href="{{ .RelPermalink }}">{{ .Title }}</a> > {{ end -}}
{{- end -}}
